<h1> Words Being used the most! </h1>
<word-cloud> </word-cloud>

<div class="image">
  <%= image_tag("dont.jpg") %>
  <%= image_tag("yes.jpg") %>
<p> Now that you've vented! If its something that you can't change stop worrying about it and let it go.</p>
<h3><a href="http://creativeity.herokuapp.com/">Check out this app to see what is motivating others.</a></h3>
</div>
