<h1> Words Being used the most! </h1>
<table>
  <tr>
    <td><strong>Word</td>
      <td><strong>Count</td>
      </tr>
      <% @words.each do |x| %>
      <tr>
        <td><%= x.word %></td>
        <td><%= x.total_count %></td>
      </tr>
      <% end %>
    </table>
