/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides

 */

.panel{
  background-color: #f9efe7;
}
 .content .post {
   margin-bottom: 20px;
   background-color: #f9e9e7;
   border-radius: 10px;
   border: 2px solid #e7f9f7;
   padding: 14px;
 }

 .post-author {
   padding: 7px 0;
   border-top: 1px solid #edebeb;
 }

.entry-title {
   font-weight: bold;
   font-size: 1.5em;
   margin: 0 0 8px;
 }

 nav {
   text-align: center;
 }
 nav ul {
   list-style-type: none;
   margin: 0;
   padding: 0;
 }
 nav ul li {
   display: inline-block;
   text-align: center;
 }
 nav a {
   line-height: 100px;
   letter-spacing: 2px;
   font-size: 0.6875em;
   color: #000000;
   display: block;
   width: 100px;
   position: relative;
   text-decoration:none
 }

 #banner {
   height: 300px;
   margin-top: -95px;
   background-color: #F9F2E7;
   background-repeat: repeat-x;
 }
 #overlay {
   position: relative;
   top : 80px;
   margin: 0 auto;
   background-color: #e7f7f9;
   width: 1000px;
   height: 185px;
 }
 #overlay h1 {
   font-weight: 800;
   color: #8CC1C8;
   font-size: 7em;
   text-align: center;
 }

 body {
   background-color: #F9F2E7;
 }

 footer {
   clear: both;
   margin-left: auto;
   margin-right: auto;
   font-size: 0.6875em;
   padding: 20px;
 }
 * html #footer {
   height:1px;
 }

 a {
   color: #86b78d;
 }

p {
  color: #ce4b3a;
}

li {
  color: #f0ebeb;
}
