<div class="large-9 column">
  <% if @vents.present? %>
  <% @vents.each do |vent| %>
  <div class="post">
    <%= render partial: "/vents/titleinfo", locals: { vent: vent } %>
    <%= render partial: "/vents/indexventinfo", locals: { vent: vent } %>
    <div class="clearfix"></div>
  </div>
  <% end %>
  <% else %>
  <h3> Sorry No results found</h3>
  <% end %>
</div>
